/*
Copyright (C) 2020 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 1 Nov 2020
*/

params {
    fastq = "*_{1,2}.fastq.gz"  // Paired FASTQ files taken as input
    out_dir = "output"  // Output directory for assemblies. Option name 'outdir' conflicts with Nextflow's.
    db = "resfinder"  // Directory name of the reference database
    queue_size = 30  // Number of concurrent jobs submitted to the PBS
}


executor {
	$local {
		cpus = 2
		memory = "16 GB"  // Previous runs did not use more than 40 GB memmory.
	}
    
    $pbspro {
        queueSize = params.queue_size
    }
}


profiles {
	standard {
		process.executor = "local"
	}
    
    pbs {
        process {
            executor = "pbspro"
            clusterOptions = "-lselect=1:ncpus=2:mem=16gb:ompthreads=2"  // 2 CPUs enable 4 threads
            time = "24h"
            errorStrategy = "retry"  // errorStrategy = "terminate"
            maxRetries = 1
        }
    }
}


manifest {
    homePage = "https://github.com/wanyuac/Nextflow_pipeline"
    description = "Run ARIBA for gene detection from short reads."
    mainScript = "ariba.nf"
    version = "0.0.1"
}
